.panel-oedu-1col {

  &.subsection {
    background: linear-gradient(rgba($brand-primary, 0.85), rgba($brand-primary, 0.85)), url("../images/subsection-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 3px solid $brand-primary-lighter;
    margin-bottom: 2em;
    border-bottom: 0.313em solid $brand-primary-lighter;
    border-bottom-left-radius: 50% 2em;
    border-bottom-right-radius: 50% 2em;
    color: #fff;
    padding-bottom: 2em;
    @media #{$tablet} {
      border-bottom-width: 0.5em;
    }

    .page-header,
    .block-entity-fieldnodetitle {
      font-size: 2em;
      line-height: 1.225em;
      color: #fff;
      margin: 0;
      padding: 0.3em 0 0.5em;
      @media #{$tablet} {
        font-size: 2.625em;
      }
    }

    .form-item {
      margin-right: 0.5em;
    }
    .breadcrumb {
      padding: 1em 0;
      margin: 0;
      background: none;
      color: white;
      font-size: 0.750em;
      opacity: 0.9;
      a, li {
        color: white;
      }
      li + li::before {
        font-family: "FontAwesome";
        content: "\f054";
        font-size: 0.6em;
        vertical-align: middle;
        color: white;
      }
    }

    .ipe-actions-block,
    .ipe-actions {
      background: rgba(#fff, 0.6);
      color: $gray-base;
    }
  }

  .block {
    padding-bottom: 1em;
    margin-bottom: 3em;
  }

  .block-entity-fieldnodebody {
    @extend .container;
  }

}
