li a.btn-cta,
.btn-cta {
  background: $gray-dark;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  padding: 1em 2.5em;
  box-shadow: 0 0 0 1px $gray-light;
  &:hover {
    opacity: 0.9;
  }
  &.call-out {
    background: $brand-primary;
    padding-right: 1.2em;
    background: #3283b5; /* Old browsers */
    background: -moz-linear-gradient(60deg, #3283b5 65%, #2d739f 54%); /* FF3.6-15 */
    background: -webkit-linear-gradient(60deg, #3283b5 65%,#2d739f 54%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(60deg, #3283b5 65%,#2d739f 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3283b5', endColorstr='#2d739f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    &::after {
      font-family: "FontAwesome";
      content: "\f178";
      padding-left: 1.2em;
      vertical-align: bottom;
    }
  }
}
