.block--openedu-grid-block,
.block-entity-fieldnodefield-program-grid-block {
  @extend .container;
  margin-top: 2em;
  .field--name-field-grid-label {
    @extend h2;
    margin-bottom: 1em;
    color: $brand-primary;
    text-align: center;
    @include underlined-title();
  }
  .field--name-field-grid-content {
    .path-frontpage & {
      color: $brand-primary;
    }
    .img-responsive{
      margin: auto;
    }

    @extend .row;
    & > .field--item {
      margin-bottom: 2em;
    }
    .grid-block-12 {
      @extend .col-sm-12;
    }
    .grid-block-6 {
      @extend .col-sm-6;
    }
    .grid-block-4 {
      @extend .col-sm-4;
    }
    .grid-block-3 {
      @extend .col-sm-3;
    }
  }

  .field--name-field-grid-cta {
    padding: 30px 0;
    text-align: center;
    a {
      @extend .btn, .btn-callout;
      font-size: 14px;
      border: none;
      background: $brand-info;
    }
  }
}
